.ana-conatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap; 
    box-sizing: border-box;
    justify-content: center;
}


.assignment-submission,
.avgScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 45%; 
    min-width: 300px; 
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    
}


.assignment-submission p,
.avgScore p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f2937; 
  position: relative;
  padding-left: 14px;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  display: inline-block;
}


.section-title:hover {
  color: #111827; 
  text-shadow: 0px 2px 8px rgba(79, 70, 229, 0.25);
  transition: all 0.3s ease;
}


@media (max-width: 768px) {
    .ana-conatiner {
        flex-direction: column;
        align-items: center;
        
    }

    .assignment-submission,
    .avgScore {
        flex: 1 1 100%;
        max-width: 500px;
    }
    .assignment-submission{
    
    }
}


@media (max-width: 480px) {
    .assignment-submission p,
    .avgScore p {
        font-size: 1rem;
    }

    .assignment-submission,
    .avgScore {
        padding: 15px;
    }
}
