.filter-container {
    background: #f4f6f8;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
}

.filter h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #2c3e50;
}

.filter select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    font-size: 0.95rem;
    transition: border-color 0.3s ease;
}

.filter select:focus {
    outline: none;
    border-color: #1abc9c;
}


@media (max-width: 1024px) {
    .filter-container {
        width: 200px;
        position: fixed;
        left: 10px;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .filter-container {
        padding: 15px;
        width: 300px;
        height: 100vh;
    }
    .filter{
        width: 100;
        
    }
    .filter h3 {
        font-size: 0.9rem;
    }

    .filter select {
        font-size: 0.9rem;
        padding: 6px;
    }
}

@media (max-width: 480px) {
    .filter-container {
        padding: 10px;
        position: inherit;
        height: 100px;
        overflow: scroll;
        width: 100%;

    }

    .filter h3 {
        font-size: 0.85rem;
    }

    .filter select {
        font-size: 0.85rem;
        padding: 5px;
    }
}



/* search */
.search {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search input {
    width: 300px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9fafb;
}

.search input:focus {
    border-color: #4e73df; /* Soft blue */
    box-shadow: 0 0 8px rgba(78, 115, 223, 0.3);
    background-color: #fff;
}

.search input::placeholder {
    color: #888;
    font-style: italic;
}

/* soarting */

.sorting {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 6px;
    width: fit-content;
}

.sorting select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
    background-color: white;
}

.sorting select:hover {
    border-color: #007bff;
}

.sorting select:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.4);
}
